<nav data-controller="nav" class="h-20 px-8 py-6 bg-fcp-gray flex items-center justify-between">
  <div class="text-lg text-fcp-dark-blue font-bold">
    Forecast Piano
  </div>

  <div data-nav-target="navLinks" class="absolute translate-y-[-125%] w-full min-h-[30%] left-0 top-12 flex items-center bg-fcp-gray md:relative md:translate-y-0 md:duration-0 md:w-auto md:min-h-0 md:top-0">
    <ul class="flex flex-col px-10 gap-3 bg-fcp-gray md:flex-row md:items-center md:gap-12">
      <li>
        <a class="text-lg text-fcp-dark-blue hover:font-semibold">{{ 'nav.home' | trans }}</a>
      </li>
      <li>
        <a class="text-lg text-fcp-dark-blue hover:font-semibold">{{ 'nav.products' | trans }}</a>
      </li>
      <li>
        <a class="text-lg text-fcp-dark-blue hover:font-semibold">{{ 'nav.dashboard' | trans }}</a>
      </li>
      <li>
        <a class="text-lg text-fcp-dark-blue hover:font-semibold">{{ 'nav.cart' | trans }}</a>
      </li>
      <li>
        <a class="text-lg text-fcp-dark-blue hover:font-semibold">{{ 'nav.sign_in' | trans }}</a>
      </li>
    </ul>
  </div>

  <div data-action="click->nav#toggle" class="md:hidden">
    <span data-nav-target="menuIcon">
      {{ ux_icon('ion:menu', { class: 'w-7 h-7' }) }}
    </span>
     <span data-nav-target="closeIcon" class="hidden">
      {{ ux_icon('ion:close', { class: 'w-7 h-7' }) }}
    </span>
  </div>
</nav>