{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/_navbar.html.twig' %}
{% endblock %}

{% block main %}
    <main class="flex flex-col gap-y-5 mx-6 my-12 sm:mx-36 sm:my-20">
        <div class="fcp-card flex flex-col gap-y-5 lg:flex-row lg:gap-x-10">
            <div class="flex justify-center items-center">
                <img src="{{ asset('images/' ~ product.image.url ~ '') }}" alt="Image" class="w-full max-w-sm h-auto object-cover">
            </div>
            
            <div class="flex flex-col justify-between gap-y-6">
                <div class="flex flex-col gap-y-5">
                    <div>
                        <h2 class="text-2xl font-bold text-fcp-white">{{ product.name }}</h2>
                        <p class="text-sm text-gray-300 mx-1 mt-2">{{ product.description }}</p>
                    </div>
                    <p class="text-xl font-semibold text-fcp-white">{{ product.price ~ ' €' }}</p>
                </div>
                <div class="flex flex-col gap-y-3">
                    <p class="text-sm text-fcp-white">
                        {{ 'label.product.stock' | trans }} : {{ product.stock }}
                    </p>
                    <p class="text-sm text-fcp-white">
                        {{ 'label.entity.status' | trans }} : {{ ('label.product.' ~ product.status.value) | trans }}
                    </p>
                </div>
                <div class="flex justify-start">
                    <span><a class="fcp-button px-8 py-2">{{ 'label.add_to_cart' | trans }}</a></span>
                </div>
            </div>
        </div>

        <div class="flex justify-start">
            <span><a href="{{ path(backRouteName) }}" class="fcp-button px-6 py-2 bg-slate-700 hover:bg-slate-800">{{ 'label.back' | trans }}</a></span>
        </div>
    </main>
{% endblock %}