{% extends 'base.html.twig' %}

{% block header %}
    {{ component('Navbar') }}
{% endblock %}

{% block main %}
    <main class="flex flex-col gap-y-5 mx-6 my-12 sm:mx-36 sm:my-20">
        <div class="max-w-3xl w-full mx-auto p-8 rounded-md shadow-lg bg-fcp-blue-dark">
            <h1 class="mb-4 text-center text-lg text-fcp-white font-semibold">
                {{ isEdit ? 'title.product.edit' | trans : 'title.product.add' | trans }}
            </h1>

            {{ form_start(form) }}
                <div class="mb-4">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'fcp-label'}}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'fcp-input'}}) }}
                    <div class="fcp-error">
                        {{ form_errors(form.name) }}
                    </div>
                </div>

                <div class="mb-4">
                    {{ form_label(form.price, null, {'label_attr': {'class': 'fcp-label'}}) }}
                    {{ form_widget(form.price, {'attr': {'class': 'fcp-input'}}) }}
                    <div class="fcp-error">
                        {{ form_errors(form.price) }}
                    </div>
                </div>

                <div class="mb-4">
                    {{ form_label(form.description, null, {'label_attr': {'class': 'fcp-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'fcp-input resize-none overflow-wrap break-words'}}) }}
                    <div class="fcp-error">
                        {{ form_errors(form.description) }}
                    </div>
                </div>

                <div class="mb-4">
                    {{ form_label(form.stock, null, {'label_attr': {'class': 'fcp-label'}}) }}
                    {{ form_widget(form.stock, {'attr': {'class': 'fcp-input'}}) }}
                    <div class="fcp-error">
                        {{ form_errors(form.stock) }}
                    </div>
                </div>

                <div class="mb-4">
                    {{ form_label(form.status, null, {'label_attr': {'class': 'fcp-label'}}) }}
                    {{ form_widget(form.status, {'attr': {'class': 'fcp-input'}}) }}
                    <div class="fcp-error">
                        {{ form_errors(form.status) }}
                    </div>
                </div>

                <div class="mb-4">
                    {{ form_label(form.categories, null, {'label_attr': {'class': 'fcp-label'}}) }}
                    {{ form_widget(form.categories, {'attr': {'class': 'fcp-input'}}) }}
                    <div class="fcp-error">
                        {{ form_errors(form.categories) }}
                    </div>
                </div>

                <div class="mb-8">
                    {{ form_label(form.image, null, {'label_attr': {'class': 'fcp-label'}}) }}
                    {{ form_widget(form.image, {'attr': {'class': 'fcp-input'}}) }}
                    <div class="fcp-error">
                        {{ form_errors(form.image) }}
                    </div>
                </div>

                <div>
                    {{ form_widget(form.submit, {'attr': {'class': 'fcp-button'}}) }}
                </div>
            {{ form_end(form) }}
        </div>

        <div class="flex justify-start max-w-3xl w-full mx-auto">
            <span><a href="{{ path('app_admin_products_list') }}" class="fcp-button px-6 py-2 bg-slate-600 hover:bg-slate-700">{{ 'label.back' | trans }}</a></span>
        </div>
    </main>
{% endblock %}