{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/_navbar.html.twig' %}
{% endblock %}

{% block main %}
    <main class="mx-6 my-12 sm:mx-36 sm:my-20">
        <h1 class="pb-10 text-center text-3xl text-fcp-white">{{ 'title.dashboard.welcome' | trans({ '%name%': app.user.lastName }) }}</h1>

        <div class="flex flex-wrap justify-center gap-4 mb-8 sm:justify-start">
            <span><a href="{{ path('app_admin_users_list', { 'page': 1 }) }}" class="px-4 py-2 fcp-button">{{ 'label.user.users' | trans }}</a></span>
            <span><a href="{{ path('app_admin_orders_list', { 'page': 1 }) }}" class="px-4 py-2 fcp-button">{{ 'label.order.orders' | trans }}</a></span>
            <span><a href="{{ path('app_admin_products_list', { 'page': 1 }) }}" class="px-4 py-2 fcp-button">{{ 'label.product.products' | trans }}</a></span>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-8">
            <div class="fcp-card">
                <h2 class="text-xl text-fcp-white">{{ 'title.dashboard.last_5_orders' | trans }}</h2>

                {% set orderHeader = [
                    { label: 'label.order.reference', center: false },
                    { label: 'table.header.created_at', center: false },
                    { label: 'table.header.order_by', center: false },
                    { label: 'label.entity.status', center: false }, 
                ] %}

                {% set orderBody = lastFiveOrders | map(order => [
                    { content: order.reference, center: false },
                    { content: order.createdAt | date('d/m/Y'), center: false },
                    { content: order.user.fullName, center: false },
                    { content: ('label.order.' ~ order.status.value) | trans, center: false },
                ]) %}

                {% include 'partials/_table.html.twig' with { header: orderHeader, body: orderBody } %}
            </div>

            <div class="fcp-card">
                <h2 class="text-xl text-fcp-white">{{ 'title.dashboard.sales_per_month_over_12_months' | trans }}</h2>

                <div class="size-full">
                    {{ render_chart(barChart) }}
                </div>
            </div>

            <div class="fcp-card">
                <h2 class="text-xl text-fcp-white">{{ 'title.dashboard.product_availability_ratio' | trans }}</h2>

                <div class="size-full">
                    {{ render_chart(pieChart) }}
                </div>
            </div>

            <div class="fcp-card">
                <h2 class="text-xl text-fcp-white">{{ 'title.dashboard.product_per_category' | trans }}</h2>
                {% set productHeader = [
                    { label: 'label.product.name', center: false }, 
                    { label: 'table.header.total', center: true }, 
                ] %}

                {% set productBody = productCount | map(count => [
                    { content: count['name'], center: false },
                    { content: count['values'], center: true },
                ]) %}

                {% include 'partials/_table.html.twig' with { header: productHeader, body: productBody } %}
            </div>
        </div>
    </main>
{% endblock %}