{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/_navbar.html.twig' %}
{% endblock %}

{% block main %}
    <main class="mx-6 my-12 sm:mx-36 sm:my-20">
        <h1 class="pb-10 text-center text-3xl text-fcp-white">{{ 'title.dashboard.welcome' | trans({ '%name%': app.user.lastName }) }}</h1>

        <div class="flex flex-wrap justify-center gap-4 mb-8 sm:justify-start">
            <span><a href="{{ path('app_home') }}" class="px-4 py-2 fcp-button">{{ 'label.users' | trans }}</a></span>
            <span><a href="{{ path('app_home') }}" class="px-4 py-2 fcp-button">{{ 'label.orders' | trans }}</a></span>
            <span><a href="{{ path('app_admin_products') }}" class="px-4 py-2 fcp-button">{{ 'label.products' | trans }}</a></span>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-8">
            {% set productsHeader = ['table.header.name', 'table.header.total'] %}

            <div class="flex flex-col gap-5 p-8 rounded-md shadow-lg bg-fcp-blue-dark">
                <h2 class="text-xl text-fcp-white">{{ 'title.dashboard.product_per_category' | trans }}</h2>

                <div class="overflow-x-auto overflow-hidden p-1.5">
                    <table class="min-w-full divide-y divide-neutral-700">
                        <thead>
                            <tr>
                                {% for column in productsHeader %}
                                    <th class="px-6 py-3 text-xs font-medium 
                                        {% if column == 'table.header.total' %} 
                                            text-center 
                                        {% else %}
                                            text-start 
                                        {% endif %}
                                        text-neutral-500 uppercase">
                                        {{ column | trans }}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-neutral-700">
                            {% for data in productCount %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-neutral-200">
                                        {{ data.categoryName }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium text-fcp-white">
                                        {{ data.productCount }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="flex flex-col gap-5 p-8 rounded-md shadow-lg bg-fcp-blue-dark">
                <h2 class="text-xl text-fcp-white">{{ 'title.dashboard.sales_per_month_over_12_months' | trans }}</h2>

                <div class="size-full">
                    {{ render_chart(barChart) }}
                </div>
            </div>

            <div class="flex flex-col gap-5 p-8 rounded-md shadow-lg bg-fcp-blue-dark">
                <h2 class="text-xl text-fcp-white">{{ 'title.dashboard.product_availability_ratio' | trans }}</h2>

                <div class="size-full">
                    {{ render_chart(pieChart) }}
                </div>
            </div>

            {% set orderHeader = ['table.header.reference', 'table.header.created_at', 'table.header.order_by', 'table.header.status'] %}

            <div class="flex flex-col gap-5 p-8 rounded-md shadow-lg bg-fcp-blue-dark">
                <h2 class="text-xl text-fcp-white">{{ 'title.dashboard.last_5_orders' | trans }}</h2>

                <div class="overflow-x-auto overflow-hidden p-1.5">
                    <table class="min-w-full divide-y divide-neutral-700">
                        <thead>
                            <tr>
                                {% for column in orderHeader %}
                                    <th class="px-6 py-3 text-xs font-medium text-start text-neutral-500 uppercase">{{ column | trans }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-neutral-700">
                            {% for order in orders %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-neutral-200">
                                        {{ order.reference }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-fcp-white">
                                        {{ order.createdAt | date('d/m/Y') }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-fcp-white">
                                        {{ order.user.fullName }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-fcp-white">
                                        {{ ('label.' ~ order.status.value) | trans }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}