{% extends 'base.html.twig' %}

{% block header %}
    {{ component('Navbar') }}
{% endblock %}

{% block main %}
    <main class="flex flex-col gap-y-3 mx-6 my-12 sm:mx-36 sm:my-20">
        <div class="flex flex-col gap-y-12 mx-2">
            <div class="flex flex-col">
                <div class="flex flex-col gap-y-4">
                    <p class="text-xl text-fcp-white">Forecast Piano</p>
                    <p class="mx-2 text-4xl text-fcp-white">{{ 'title.home.main' | trans }}</p>
                </div>
            </div>

            <div class="flex flex-col gap-y-1">
                <p class="text-base text-fcp-white">{{ 'label.home.main' | trans }}</p>

                <div class="flex justify-start">
                    <span><a href="{{ path('app_products_list') }}" class="fcp-button my-10 px-4 py-2">{{ 'label.discover' | trans }}</a></span>
                </div>
            </div>
        </div>

        {% set items = [
            { title: 'title.home.quality', label: 'label.home.quality', color: 'bg-fcp-blue-dark' },
            { title: 'title.home.models', label: 'label.home.models', color: 'bg-slate-700' },
            { title: 'title.home.ux', label: 'label.home.ux', color: 'bg-cyan-600' },
        ] %}

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            {% for item in items %}
                <div class="min-h-40 flex flex-col gap-y-5 justify-center items-center p-4 {{ item.color }}">
                    <h2 class="text-fcp-white font-semibold text-center">{{ item.title | trans }}</h2>
                    <p class="text-fcp-white text-center">{{ item.label | trans }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}